@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --prmary-color: #32BC9B;
  --secondary-color: #C0FAEC;
  --secondary-background-color: #ECF9F6;
  --primary-font: 'Poppins', sans-serif;
}
